<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grist Action Button</title>

    <!-- Uses Vue.js and the Grist Plugin API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>

    <script src="actionbutton.js?ver=1"></script>
    <link rel="stylesheet" href="actionbutton.css?ver=1">
  </head>
  <body>
    <div id="app">
      <div class="status" v-if="status">
        <template v-if="status === 'waiting'">
          <p>Waiting for data...</p>
        </template>
        <template v-else>
          {{ status }}
        </template>
      </div>
      <template v-else>
        <div class="container" v-for="record in records">
          <button class="button" v-for="(btn, idx) in record.buttons" v-on:click="applyActions(btn.actions)" v-on:mouseover="desc = record.id + '-' + idx" v-on:mouseleave="desc = null">
            {{ btn.button }}
          </button>
        </div>
        <div class="description" v-for="record in records" v-for="(btn, idx) in record.buttons" v-if="desc === record.id + '-' + idx">{{ btn.description }}</div>
        <div class="result" v-if="result">{{ result }}</div>
      </template>
    </div>
  </body>
</html>
